#device {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.device {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 650px) {

  #device {
    margin-bottom: 5rem;
 }
  
}