.btn {
  background-color: #4D8DFF;
  border: 1px solid #4D8DFF;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 180px;
  margin-left: 2rem;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #004ACC;
  border: 1px solid #004ACC;
}

.btn:active, .btn:focus {
  background-color: #005CFF;
  border: 1px solid #005CFF;
}

@media only screen and (max-width: 650px) {

  .btn {
    margin-left: 0;
  }
  
}