#availability {
  padding: 5rem 0;
}

#availability h2 {
   text-align: center;
   margin-bottom: 5rem;
}

#availability .row {
   display: flex;
   justify-content: space-between;
}

@media only screen and (max-width: 650px) {

   #availability {
      padding: 0;
   }

   #availability .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
  
}