#features {
  padding: 7.5rem 0;
}

h2 {
  text-align: center;
}

#features .row {
  display: flex;
  align-items: center;
}

#features .row .col {
  flex: 0.33;
}

#features .row .col-2 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 870px) {

  #features .row {
    flex-direction: column;
  }

  #features .row .col-2 video{
    margin-top: 0;
  }

}

@media only screen and (max-width: 650px) {

  #features .row {
    flex-direction: column;
  }
  
}