* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #FAFAFA;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  height: 60px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #005CFF;
  border-radius: 10px;
}

input::placeholder {
  font-size: 0.875rem;
}

h1 {
  font-size: 3rem;
  color: #100D44;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

video {
  margin-top: 3rem;
  width: 70%;
  border: 10px solid #eeeeee;
  border-radius: 25px;
}
